@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--very-dark-blue);
    font-family: 'Overpass', sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --orange: hsl(25, 97%, 53%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 400px;
    height: 410px;
    background-color: var(--dark-blue);
    border-radius: 25px;
}
.content {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.star {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

h1 {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 30px;
}

p {
    color: var(--medium-grey);
    margin-bottom: 30px;
    font-weight: 400;
}

.rating {
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.one, .two, .three,.four, .five {
    height: 50px;
    width: 50px;
    display: flex;
    gap: 20px;
    border-radius: 50%;
    /* background-color: var(--medium-grey); */
    opacity: .6;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 30px;
    color: var(--medium-grey, 1);
}

.submit {
    background: var(--orange);
    border-radius: 30px;
    border: none;
    height: 40px;
    color: white;
    font-weight: 700;
    letter-spacing: 4px;
}






