body {
    box-sizing: border-box;
    background-color: hsl(216, 12%, 8%);
}

.card  {
    position: relative;
    background-color: hsl(216, 12%, 54%);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    top: 40px;
}